.logoword {
  color: white;
}

nav .navbar-nav {
  padding: 0 5rem;
}

nav .navbar-nav li a {
  color: white !important;
  font-size: 14px;
  padding: 0.5rem 1.1rem !important;
}

.navbar {
  background: transparent;
  z-index: 997 !important;
  padding: 1.1rem 1.8rem !important;
  border: none;
  transition: background-color 0.2s linear;
}
@media only screen and (min-width: 768px) {
  .navbar {
    background: transparent;
    z-index: 997 !important;
    padding: 1.5rem 4rem !important;
    border: none;
    transition: background-color 0.2s linear;
  }
}

.navbar.solid {
  background-color: rgba(20, 2, 0, 0.8);
  transition: background-color 1s ease 0s;
}
.sticky-top {
  top: 56px;
}

.container {
  width: 100%;
}

.banner-wrapper {
  background-color: rgba(0, 83, 83, 0.95);
  height: 40rem;
}

.banner-container {
  margin-top: 5rem;
}

/* .banner-wrapper {
  background-color: aqua;

  background-size: cover;
  height: 280px;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .banner-wrapper {
    background-position: bottom center;
    background-size: cover;
    height: 650px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-color: green;
  }
} */
